#box {
  background-color: #EFEFEF;
  margin-bottom: 15px;
  padding: 15px;
  margin: 15px;
  border: 1px solid #DDD;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

img {
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

h4 {
  font-style: italic;
}

#lowerBorder {
  border-color: black;
  border-width: 1px;
  background-color: #fafafa;
}

#mainBorder {
  border-color: black;
  border-width: 2px;
  background-color: rgb(255, 155, 215);
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

#content {
  padding-right: 5vw;
  padding-left: 5vw;
  min-width: 300px;
  width: 85vw;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .slider-size {
    height: auto;
  }
  .slider-size>img {
    width: 80%;
  }
}

/* tablets */

@media (max-width: 991px) and (min-width: 768px) {
  .slider-size {
    height: auto;
  }
  .slider-size>img {
    width: 80%;
  }
}

/* laptops */

@media (max-width: 1023px) and (min-width: 992px) {
  .slider-size {
    height: 200px;
  }
  .slider-size>img {
    width: 80%;
  }
}

/* desktops */

@media (min-width: 1024px) {
  .slider-size {
    height: 300px;
  }
  .slider-size>img {
    width: 60%;
  }
}

#myCarousel {
  margin: 0 auto;
  background-color: black;
  margin-bottom: 12px;
}

.item img {
  height: 50vh;
}

h2 {
  text-align: left;
}

#attraction_image {
  width: 20vw;
  height: 25vh;
}

#attraction_heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: calc(7px + 2vh);
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

#headingContainer {
  height: calc(3*(7px + 2vh));
  width: 25vw;
}

#attraction_details {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: calc(7px + 1vh);
  text-align: left;
  padding-left: 2vw;
  padding-right: 2vw;
}

#tableRow {
  height: fit-content;
}

#imgContainer {
  height: 25vh;
  width: 25vw;
}

#imgContainer img {
  object-fit: cover;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
}

.modal-header {
  font-size: 23px;
  padding: 11px 20px;
}

.modal-body {
  height: calc(100vh - 180px);
  overflow-y: auto;
  background-color: rgb(240, 245, 255)
}

.modal-footer {
  text-align: center;
  padding: 15px 0px 3px 18px;
  margin-bottom: -6px;
}

tr {
  width: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  position: relative;
  width: 100%;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#stopHeading {
  font-size: 36px;
  font-weight: bolder;
  /* margin-bottom: -10px; */
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#subHeading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-left: 2.4vw;
}

#about {
  margin: 25px 2.4vw;
  text-align: justify;
}

.col-lg-3 {
  margin: 0 5vw 5px 0px;
}

@media (min-width: 768px) {
  /* only set modal width on wider desktop screens, otherwise default to auto width */
  .modal-dialog {
    width: 90vw;
  }
}

@media (max-width: 992px) {
  #imgContainer {
    width: 50vw;
    height: 35vh;
  }

  #attraction_image {
    width: 50vw;
    height: 35vh;
  }

  #headingContainer {
    width: 50vw;
  }
}

@media (max-width: 767px) {
  .carousel-inner {
    height: 30vh;
  }

  .item img {
    height: 30vh;
  }

  #imgContainer {
    width: 60vw;
    height: 20vh;
  }

  #attraction_image {
    width: 60vw;
    height: 20vh;
  }

  #headingContainer {
    width: 60vw;
  }

  #about {
    text-align: left;
  }
}