<br>
<div id="body_div" align="center">
    <img src="https://dummyimage.com/250x250/000/fff">
    <div id="headText">
    <h2>Username</h2>
    </div>
    <br>
    <div id="subText">
      E-mail:
    </div>
    <div id="text">
      userEmail@gmail.com
    </div>
    <div id="subText">
      Date Joined:
    </div>
    <div id="text">
      dd/mm/yyyy
    </div>
    <div id="subText">
      Journeys:
    </div>
    <div id="text">
      <ul>
          <li>Journey 1</li>
          <li>Journey 2</li>
          <li>Journey 3</li>
      </ul>   
    </div>
</div>

<br>