<br>
<div class="well well-content">
  <div id="headText">
    <h1>{{username}}</h1>
  </div>
  <br>
  <div style="padding-left:2vw; padding-right:2vw;" class="card-start">

    <br>

    <div id="subText" class="row">
      E-mail:
    </div>
    <div id="text" class="row">
      {{email}}
    </div>

    <br>

    <div class="row">
      <div id="subText" class="col-sm-6">
        First Name:
      </div>

      <div id="subText" class="col-sm-6">
        Last Name:
      </div>
    </div>
    <div class="row">
      <div id="text" class="col-sm-6">
        {{firstName}}
      </div>
      <div id="text" class="col-sm-6">
        {{lastName}}
      </div>
    </div>

    <br>

    <div id="subText" class="row">
      Date Joined:
    </div>
    <div id="text" class="row">
      {{dateJoined}}
    </div>

    <br>
  </div>
  
  <br>

  <div style="padding-left:2vw; padding-right:2vw;" class="card-start"> 
    
    <br>
    
    <div id="subText" class="row">
      Journeys:
    </div>
    <div id="text" class="row">
      <ul>
        <li *ngFor="let journey of journeys" [value]="journey" style="padding-bottom:5px;">{{journey}}</li>
      </ul>
    </div>
  </div>
</div>
<br>
