<br>
<div id="body_div">
    <div id="headText">
      <h1>{{username}}</h1>
    </div>
    <br>
    <br>
    
    <div id="subText">
      E-mail:
    </div>
    <div id="text">{{email}}</div>

    <div id="subText">
      First Name:
    </div>
    <div id="text">{{firstName}}</div>

    <div id="subText">
      Last Name:
    </div>
    <div id="text">{{lastName}}</div>

    <div id="subText">
      Gender:
    </div>
    <div id="text">{{gender}}</div>
    
    <div id="subText">
      Date Joined:
    </div>
    <div id="text">{{dateJoined}}</div>

    <div id="subText">
      Journeys:
    </div>
    <div id="text">
      <ul>
          <li *ngFor="let journey of journeys" [value]="journey">{{journey}}</li>
      </ul>   
    </div>
</div>

<br>