<div class="well">
  <h1>About</h1>

  <p><em>LUX</em>&nbsp; allows you to plan a holiday trip with one or more destinations of your choosing.</p>
  
  <ul>
    <li>Manage journeys</li>
    <li>View flight details based on flight number</li>
    <li>Insert/delete stops</li>
    <li>View information and gallery of stops</li>
    <li>Plan itinerary at each stop</li>
    <li>View weather forecast at each stop</li>
    <li>Generate route map of entire journey</li>
  </ul>

  <img src="../assets/Infographic.png" alt="Infographic">
</div>
<br>