h1 {
    margin-bottom: 35px;
    text-align: left;
}

div {
    text-align: justify;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 5vh;
    padding-bottom: 5vh;  
    padding-right: 5vw;
    padding-left: 5vw; 
    width: 50vw;
    min-width: 300px;   
    margin: 50px auto 0;
    border-radius: 5vh;
    font-size: 1.3em;        
}

img {
    width: 40vw;
    border-radius: 7px;
    display: block;
    margin: 30px auto 25px;
}