.navbar {
  border-radius: 0
}

a.active {
  color: white !important;
}

img,
.dropdown {
  cursor: pointer;
  cursor: hand;
  outline: none;
}

#subText {
  font-size: 1.5vh;
}

.button-rect {
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background .1s ease-out, border-color .1s ease-out;
  transition: background .1s ease-out, border-color .1s ease-out;
  border: 1;
  border-style: solid;
  box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
  display: inline-block;
  letter-spacing: .1em;
  font-size: calc(10px + 0.5vw);
  width: 100%;
  min-width: 200px;
}

.button-green {
  color: #3EB000;
  background: #FFFFFF;
  border-color: #3EB000;
}

.button-green:hover {
  background: #3EB000;
  color: white;
}

.button-orange {
  color: #FF7B00;
  background: #FFFFFF;
  border-color: #FF7B00;
}

.button-orange:hover {
  background: #FF7B00;
  color: white;
}

.button-blue {
  color: #2B8BF8;
  background: #FFFFFF;
  border-color: #2B8BF8;
}

.button-blue:hover {
  background: #2B8BF8;
  color: white;
}

.button-red {
  color: #DB0000;
  background: #FFFFFF;
  border-color: #DB0000;
}

.button-red:hover {
  background: #DB0000;
  color: white;
}

.icon-blue:hover {
  font-size: calc(15px + 1vw);
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(145, 92, 182, .4);
  cursor: pointer;
  border-radius: 100%;
}

.icon-red:hover {
  font-size: calc(15px + 1vw);
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(145, 92, 182, .4);
  cursor: pointer;
  border-radius: 100%;
}

.well {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2.5vh;
  text-align: left;
}

.well-content {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 5vw;
  padding-left: 5vw;
  width: 50vw;
  min-width: 300px;
  margin: 0 auto;
}

input {
  border: auto;
  border: solid 1px #ccc;
  border-radius: 10px;
}

/* progress bar */

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #26a69a;
  transition: width .3s linear;
}

.progress .indeterminate {
  background-color: #26a69a;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

#progressBar {
  padding: 50px;
  transform: translateY(16vh);
}

#progressBar>h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}
