.navbar {
    border-radius: 0
}
a.active{
    color: white !important;
}

img { cursor: pointer; cursor: hand; outline: none; }

#subText {
    font-size: 1.5vh;
}

.button-rect {
   padding-top: 1vh;
   padding-bottom: 1vh;
   text-align: center;
   text-transform: uppercase;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   cursor: pointer;
   -webkit-transition: background .1s ease-out,border-color .1s ease-out;
   transition: background .1s ease-out,border-color .1s ease-out;
   border: 1;
   border-style: solid;
   box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
   display: inline-block;
   letter-spacing: .1em;
   font-size:calc(10px + 0.5vw);        
   width: 100%;
   min-width: 200px; 
}

.button-green {
   color: #3EB000;
   background: #FFFFFF;
   border-color: #3EB000;
}

.button-green:hover { 
   background: #3EB000; 
   color: white;
}

.button-orange {
   color: #FF7B00;
   background: #FFFFFF;
   border-color: #FF7B00;
}

.button-orange:hover { 
   background: #FF7B00; 
   color: white;
}

.button-blue {
   color: #2B8BF8;
   background: #FFFFFF;
   border-color: #2B8BF8;
}

.button-blue:hover { 
   background: #2B8BF8; 
   color: white;
}

.button-red {
   color: #DB0000;
   background: #FFFFFF;
   border-color: #DB0000;
}

.button-red:hover { 
   background: #DB0000; 
   color: white;
}
