<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            <img class="grow" src="../assets/Logo.png" routerLink="/" width="220px">
            <!-- <li><a routerLink="/"><i class="fa fa-rocket" aria-hidden="true"></i>&nbsp;&nbsp;{{ title }}</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isLoggedIn()"><a class="grow" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-address-card"></i>&nbsp;Dashboard</a></li>
            <li *ngIf="router.url != '/'"><a class="grow" routerLink="/journey" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-plus"></i>&nbsp;New Journey</a></li>
            <li *ngIf="isLoggedIn()"><a class="grow" routerLink="/my-journeys" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-plane"></i>&nbsp;My Journeys</a></li>
            <li *ngIf="!isLoggedIn()"><a class="grow" routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-user-plus"></i>&nbsp;Sign up</a></li>
            <li *ngIf="!isLoggedIn()"><a class="grow" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Log in</a></li>
            <!-- <li *ngIf="isLoggedIn()"><a class="grow" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-user-circle"></i>&nbsp;Username&nbsp;<i class="fa fa-caret-down"></i></a></li> -->
            <li *ngIf="isLoggedIn()" class="dropdown" dropdown>
                <a dropdown-open class="grow" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-user-circle"></i>&nbsp;Username&nbsp;<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/profile">Profile</a></li>
                    <li><a routerLink="/account-settings">Account Settings</a></li>
                    <li><a>Sign Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div id="wrap">
    <div id="main">
        <router-outlet></router-outlet>            
    </div>
</div>
<div class="footer">
    <br>
    <div class="row" align="center">
        <a class="grow" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color:white">&nbsp;About&nbsp;</a> | 
        <a class="grow" routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color:white">&nbsp;Contact Us&nbsp;</a> |
        <a class="grow" routerLink="/faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color:white">&nbsp;FAQ&nbsp;</a> |             
        <a class="grow" routerLink="/help" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color:white">&nbsp;Help and Documentation&nbsp;</a>
    </div>
    <div class="row" id="subText">
            <br><i class="fa fa-copyright" aria-hidden="true"></i> &lt;group id="2021"> - SENG2021 17s2
    </div>
    <br>
</div>