<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            <img src="../assets/Logo.png" routerLink="/" width="225px">
            <!-- <li><a routerLink="/"><i class="fa fa-rocket" aria-hidden="true"></i>&nbsp;&nbsp;{{ title }}</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="grow" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a></li>
            <li><a class="grow" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact us</a></li>
            <li><a class="grow" routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-user-plus"></i>&nbsp;Sign up</a></li>
            <li><a class="grow" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Log in</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
