<div align="center">
    <h2>EVEN COOLER Search Box from {{componentName}}!</h2>
    <div id="custom-search-input">
        <div class="input-group col-md-6">
            <input type="text" class="  search-query form-control" placeholder="Search" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button" (click)="getData()">
                    <!--<span class=" glyphicon glyphicon-search"></span>-->HAHAHAHAHA
                </button>
            </span>
        </div>
    </div>
</div>