<div class="content">
  <h1>Contact Us</h1>
  
  <p>Feel free to get in touch with the development team if you would like to provide feedback or request assistance.</p>

  <ul>
    <li><a href="mailto:t.hor@student.unsw.edu.au">Tim Hor</a></li>
    <li><a href="mailto:m.q.tran@unsw.edu.au">Michael Tran</a></li>
    <li><a href="mailto:a.ercan@student.unsw.edu.au">Aydin Ercan</a></li>
    <li><a href="mailto:soham.patel@student.unsw.edu.au">Soham Patel</a></li>
    <li><a href="mailto:vintony.padmadiredja@student.unsw.edu.au">Vintony Padmadiredja</a></li>
  </ul>
</div>
<br><br>