<div class="title">
  <h1><i class="fa fa-rocket" aria-hidden="true"></i> {{title}}</h1>
</div>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-left">
          <li><a class="grow" href="destination">Create Journey! <i class="glyphicon glyphicon-send"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="grow" href="#">Home</a></li>
        <li><a class="grow" href="#">About</a></li>
        <li><a class="grow" href="#">Contact Us</a></li>
        <li><a class="grow" href="signup"><i class="fa fa-user-plus"></i> Sign Up</a></li>
        <li><a class="grow" href="login"><i class="fa fa-sign-in"></i>  Login</a></li>
      </ul>
  </div>
</nav>
<planner-search></planner-search>
<michael-test></michael-test>

<br>
