.title {
    text-align:center;
}
#mainText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    font-weight: bold;
    font-size:calc(10px + 3vw);    
    /* font-size: 3.5vw; */
    padding-bottom: 1vh;
    margin-bottom: 5%;    
}

#mainBlurb {
    text-align:center;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:calc(5px + 1.7vw);        
    /* font-size: 1.7vw; */
    padding-bottom: 1vh; 
    margin-bottom: 5%;    
}

.button_primary {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #1b365d;
    background: #bed600;
    cursor: pointer;
    -webkit-transition: background .1s ease-out,border-color .1s ease-out;
    transition: background .1s ease-out,border-color .1s ease-out;
    border: 0;
    display: inline-block;
    letter-spacing: .3vw;
    font-size:calc(5px + 1.7vw);        
    width: 30vw;
    min-width: 175px;    
}
.button_primary:hover { 
    background: #E2FF00;
}

.jumbotron {
    width:50vw;
    min-width: 300px;
    height: 25%;
    margin: 0 auto;
    margin-top: inherit;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5vh;
    padding-top: 5vh;
    border: 0.2vw;
    border-color: #bed600;
    border-style:solid; 
    margin-bottom: 2%;
}

#rowColor {
    background-color: rgba(255, 255, 255, 0.75);
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
    margin-bottom: 2%
}

#subText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    font-style: italic;
    font-size:calc(5px + 2.5vw);            
    /* font-size: 2.5vw;  */
}

#subHeading {
    text-align: center;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:calc(5px + 2vw);                
    /* font-size: 2vw;   */
}

.subtitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    font-style: italic;
    font-size:calc(5px + 1vw);                
    /* font-size: 1.5vw;  */
    text-align: center;
}

#imgBorder {
    border: 0.2vw;
    border-color: #bed600;
    border-style:solid; 
    border-radius: 5vh;
    margin-bottom: 5%;
    margin-top: 5%;
    max-width: 250px;
    width: 50vw;
}

.col-sm-4{
    padding-bottom: 5vh;
}