<div class="jumbotron" align="center" >
  <div class="title" id="mainText">
    Start your journey today!
  </div>
  <div id="mainBlurb">
    Completely customise your journey and <br> make the most of it with <em>LUX</em>.
  </div>
  <planner-search id="mainSearch"></planner-search>
  <br><br>
  <button class="button_primary" routerLink="/journey" (click)="sendQuery()"> New J<i class="fa fa-globe"></i>urney&nbsp;&nbsp;<i class="fa fa-caret-right"></i></button>
</div>

<br>

<div class="container-fluid" align="center">
  <div class="row" id="rowColor">
    <div class="title" id="subText">
      Plan your trip in 3 easy steps!
    </div>
    <br><br>
    <div class="col-sm-4">
      <div class="title" id="subHeading">
        1. Sign Up
      </div>
      <br>
      <div id="userAccIcon"><br><i class="fa fa-user-plus iconFormat" aria-hidden="true"></i></div>
      <br>
      <div class="subtitle">
        Sign into your own personal account to gain access to additional features.     
      </div>
    </div>
    <div class="col-sm-4">
      <div class="title" id="subHeading">
        2. Add Destinations
      </div>
      <br>
      <div id="planTripIcon"><br><i class="fa fa-map-marker iconFormat" aria-hidden="true"></i></div>
      <br>
      <div class="subtitle">
        Add destinations to your existing journeys to help plan out your trip, or if you do not have one, create a new journey. 
      </div>
    </div>
    <div class="col-sm-4">
      <div class="title" id="subHeading">
        3. Create Itinerary
      </div>
      <br>
      <div id="reviewTripIcon"><br><i class="fa fa-book iconFormat" aria-hidden="true"></i></div>
      <br>
      <div class="subtitle">
        Make an itinerary to plan your days by adding attractions you would like to visit at each destination.
      </div>
    </div>
  </div>
</div>