<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog" style="width:90vw;">
    <div class="modal-content">
      <div class="modal-header">
        <ng-content select=".app-itinerary-header"></ng-content>
        Itinerary for {{currStop}}
      </div>
      <div class="modal-body">
        <ng-content select=".app-itinerary-body"></ng-content>
        <div class="container">
          <div id="progressBar" class="card" *ngIf="isLoading">
            <h3>Loading...</h3>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
          <div class="card" *ngIf="!isLoading">
            <!-- Following code was obtained from : http://primefaces.org/primeng/#/schedule -->
            <p-schedule [events]="events" [header]="header" [eventLimit]="4" [fixedWeekCount]="false" [options]="options" [editable]="true" [defaultDate]="start"
              (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)" (onEventDrop)="handleEventDrag($event)" (onEventResize)="handleEventDrag($event)">
            </p-schedule>
            
            <p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
              [style]="{'overflow':'visible'}" [resizable]="false">
              <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-4"><label for="vin">Title</label></div>
                      <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title" /></div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-4"><label for="start">Start</label></div>
                      <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.start" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-4"><label for="end">End</label></div>
                      <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.end" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
                      <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox></div>
                  </div>
              </div>
              <p-footer>
                  <div class="ui-dialog-buttonpane ui-helper-clearfix">
                      <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Delete" [disabled]="event?.id !== 0 && !event?.id"></button>
                      <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" [disabled]="!event?.start"></button>
                  </div>
              </p-footer>
            </p-dialog>
          </div>
        </div>
        <br>
      </div>
      <!-- <div class="modal-footer">
        <ng-content select=".app-itinerary-footer"></ng-content>
        <br>
      </div> -->
    </div>
  </div>
</div>