<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog" style="width:90vw;">
    <div class="modal-content">
      <div class="modal-header">
        <ng-content select=".app-itinerary-header"></ng-content>
        My itinerary
      </div>
      <div class="modal-body">
        <ng-content select=".app-itinerary-body"></ng-content>
        <div class="container">
          <br>
          <div class="well">
            <div class="row">
              <div class="col-sm-2" id="stopHeading">
                {{currStop}}
              </div>
              <div class="col-sm-1">
                <label>Starting Date</label>
              </div>
              <div class="col-sm-2">
                <input type="date" placeholder="Date" class="form-control">
              </div>
              <div class="col-sm-1">
                <label>Departure Date</label>
              </div>
              <div class="col-sm-2">
                <input type="date" placeholder="Date" class="form-control">
              </div>
              <div class="col-sm-2">
              </div>
              <div class="col-sm-2" align="right">
                <button class="btn btn-success">Enable Editing</button>
              </div>
            </div>
            <br>
            <img src="../assets/itinerary.png" width="100%" height="500px">
          </div>
          <br>
        </div>
      </div>
      <div class="modal-footer">
        <ng-content select=".app-itinerary-footer"></ng-content>
        <br>
      </div>
    </div>
  </div>
</div>