<br>
<div id="body_div">
  <h1>My Journeys</h1>

  <div align="center" *ngFor="let journey of allJourneys; let j=index">
    <br><br>
    <h2>{{journey.journey_name}}</h2>
    <table class="table table-striped" id="stopsTable">
      <thead class="thead-normal">
        <tr>
          <th>Stops</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stop of journey.stops; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{stop.name}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="btn-group">
      <button type="button" class="button-rect button-green" routerLink="/dashboard">View Journey</button>
      <button type="button" class="button-rect button-blue" (click)="setModify(j)">Modify Journey</button>
      <button type="button" class="button-rect button-red" routerLink="/my-journeys">Delete Journey</button>
    </div>
    <br><br>
  </div>