#box { 
   background-color:#EFEFEF;
   margin-bottom:15px;
   padding:15px;
   margin: 15px;
   border:1px solid #DDD;
   box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.3);
   border-radius:3px;
}

img {
   display: block;
   margin: 0 auto;
}

h1 {
    text-align: left;
}

h2 { 
   text-align: center;
}

h4 {
   font-style: italic;
}

#lowerBorder {
   border-color: black;
   border-width: 1px;
   background-color: #fafafa;
}

#mainBorder {
   border-color: black;
   border-width: 2px;
   background-color:  rgb(255, 155, 215);
   
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

#body_div {
   background-color: rgba(255, 255, 255, 0.8);
   padding-top: 5vh;
   padding-bottom: 5vh;  
   padding-right: 5vw;
   padding-left: 5vw; 
   min-width: 300px;
   width: 65vw; 
   margin: 0 auto;
   border-radius: 5vh;
}

#myCarousel {
   width: 100%;
   margin: 0 auto;
}

#subtitle {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
   font-style: italic;
   font-size: calc(5px + 1vw);                
   text-align: center;
}

#stopsTable {
   width: 50vw;
}

.button-rect {
    padding-top: 1.3vh;
    padding-bottom: 1.3vh;
    letter-spacing: normal;
    width: 25%;
    margin-left: 30px;
}