<br>
<div class="container" id="body_div">
  <br>
  <div>
    <h1 align="center">Your Journeys</h1>
  </div>
  
  <div align="right">
      <button id="btnFormat" type="button" class="btn btn-success btn-lg" routerLink="/dashboard">New Journey&nbsp;&nbsp;<i class="fa fa-caret-right"></i></button>    
  </div>

  <br><br>
  <div align="center">
    <h2>Journey 1</h2>
    <br>
    <table class="table table-striped" id="stopsTable">
      <thead class="thead-normal">
        <tr>
          <th>Stops</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>London</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Sydney</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>New York</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-4">
        <button id="btnFormat" type="button" class="btn btn-success btn-lg" routerLink="/dashboard">View Journey</button>              
      </div>
      <div class="col-sm-4">
        <button id="btnFormat" type="button" class="btn btn-primary btn-lg" routerLink="/journey">Modify Journey</button>              
      </div>
      <div class="col-sm-4">
        <button id="btnFormat" type="button" class="btn btn-danger btn-lg" routerLink="/my-journeys">Delete Journey</button>              
      </div>
    </div>
  </div>

  <br><br>
<div align="center">
  <h2>Journey 2</h2>
  <br>
  <table class="table table-striped" id="stopsTable">
    <thead class="thead-normal">
      <tr>
        <th>Stops</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>London</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sydney</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>New York</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-4">
      <button id="btnFormat" type="button" class="btn btn-success btn-lg" routerLink="/dashboard">View Journey</button>              
    </div>
    <div class="col-sm-4">
      <button id="btnFormat" type="button" class="btn btn-primary btn-lg" routerLink="/journey">Modify Journey</button>              
    </div>
    <div class="col-sm-4">
      <button id="btnFormat" type="button" class="btn btn-danger btn-lg" routerLink="/my-journeys">Delete Journey</button>              
    </div>
  </div>
</div>

<br><br>
<div align="center">
  <h2>Journey 3</h2>
  <br>
  <table class="table table-striped" id="stopsTable">
    <thead class="thead-normal">
      <tr>
        <th>Stops</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>London</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sydney</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>New York</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-4">
      <button id="btnFormat" type="button" class="btn btn-success btn-lg" routerLink="/dashboard">View Journey</button>              
    </div>
    <div class="col-sm-4">
      <button id="btnFormat" type="button" class="btn btn-primary btn-lg" routerLink="/journey">Modify Journey</button>              
    </div>
    <div class="col-sm-4">
      <button id="btnFormat" type="button" class="btn btn-danger btn-lg" routerLink="/my-journeys">Delete Journey</button>              
    </div>
  </div>
</div>
  
</div>
<br><br>