<br>
<div id="body_div" align="center">
  <div id="headText">
  <h2>Account Settings</h2>
  </div>
  <br>
  <!-- <code>{{diagnostic}}</code> -->
  <div class="alert alert-warning" [hidden]="(password.valid || !password.touched) 
    && (email.valid || !email.touched) && (firstName.valid || !firstName.touched)
    && (lastName.valid || !lastName.touched) && newPassword === newPasswordConfirm
    && (!editPassword || !editEmail || !editFirstName || !editLastName)">
    <div [hidden]="password.valid || !editPassword || !password.touched">
      Password is required. Min. 8 characters
    </div>
    <div [hidden]="newPassword === newPasswordConfirm">
      Passwords do not match
    </div>
    <div [hidden]="email.valid || !editEmail || !email.touched">
      Email is required
    </div>
    <div [hidden]="firstName.valid || !editFirstName || !firstName.touched">
      First Name is required
    </div>
    <div [hidden]="lastName.valid || !editLastName || !lastName.touched">
      Last Name is required
    </div>
  </div>
  <div class="row" id="text">
    <div class="col-sm-4">
      Username:
    </div>
    <div class="col-sm-8">
      <label>{{username}}</label>
    </div>
  </div>
  <div class="row" id="text">
    <div class="col-sm-4">
      Password:
    </div>
    <div class="col-sm-6">
      <label *ngIf="!editPassword">{{password}}</label>
      <input  *ngIf="editPassword" type="password" placeholder="Enter new password" class="form-control" minlength="8" [(ngModel)]="newPassword" name="password" #password="ngModel" required>
    </div>
    <div class="col-sm-2">
      <i class="glyphicon glyphicon-edit grow" aria-hidden="true" *ngIf="!editPassword" (click)="updatePassword()"></i>
      <i class="glyphicon glyphicon-remove-sign" aria-hidden="true" *ngIf="editPassword" (click)="updatePassword()"></i>
    </div>
  </div>
  <div class="row" id="text" *ngIf="editPassword">
    <div class="col-sm-4">
      Confirm Password:
    </div>
    <div class="col-sm-6">
      <input type="password" placeholder="Repeat new password" class="form-control" [(ngModel)]="newPasswordConfirm" name="confirmPassword" #confirmPassword="ngModel" required>
    </div>
  </div>
  <div class="row" id="text">
    <div class="col-sm-4">
      E-mail:
    </div>
    <div class="col-sm-6">
      <label *ngIf="!editEmail">{{email}}</label>
      <input *ngIf="editEmail" type="email" placeholder="Enter new email" class="form-control" [(ngModel)]="newEmail" name="email" #email="ngModel" required>
    </div>
    <div class="col-sm-2">
      <i class="glyphicon glyphicon-edit grow" aria-hidden="true" *ngIf="!editEmail" (click)="updateEmail()"></i>
      <i class="glyphicon glyphicon-remove-sign" aria-hidden="true" *ngIf="editEmail" (click)="updateEmail()"></i>
    </div>
  </div>
  <div class="row" id="text">
    <div class="col-sm-4">
      First Name:
    </div>
    <div class="col-sm-6">
      <label *ngIf="!editFirstName">{{firstName}}</label>
      <input *ngIf="editFirstName" type="firstName" placeholder="Enter new first name" class="form-control" [(ngModel)]="newFirstName" name="firstName" #firstName="ngModel" required>
    </div>
    <div class="col-sm-2">
      <i class="glyphicon glyphicon-edit grow" aria-hidden="true" *ngIf="!editFirstName" (click)="updateFirstName()"></i>
      <i class="glyphicon glyphicon-remove-sign" aria-hidden="true" *ngIf="editFirstName" (click)="updateFirstName()"></i>
    </div>
  </div>
  <div class="row" id="text">
    <div class="col-sm-4">
      Last Name:
    </div>
    <div class="col-sm-6">
      <label *ngIf="!editLastName">{{lastName}}</label>
      <input *ngIf="editLastName" type="lastName" placeholder="Enter new last name" class="form-control" [(ngModel)]="newLastName" name="lastName" #lastName="ngModel" required>
    </div>
    <div class="col-sm-2">
      <i class="glyphicon glyphicon-edit grow" aria-hidden="true" *ngIf="!editLastName" (click)="updateLastName()"></i>
      <i class="glyphicon glyphicon-remove-sign" aria-hidden="true" *ngIf="editLastName" (click)="updateLastName()"></i>
    </div>
  </div>
  <div class="row" id="text">
    <div class="col-sm-4">
      Gender:
    </div>
    <div class="col-sm-8">
      <label>{{gender}}</label>
    </div>
  </div>
  <br>
  <button class="btn btn-primary" *ngIf="editAvatar || editPassword || editEmail || editFirstName || editLastName" (click)="onSubmit()">Confirm Changes</button>
</div>

<br><br>