<br>
<div id="body_div" align="center">
  <div id="headText">
  <h2>Account Settings</h2>
  </div>
  <br>
  <div class="row" id="text">
    <div class="col-sm-4">
      Username:
    </div>
    <div class="col-sm-8">
      <label>Username</label>
    </div>
  </div>
  <div class="row" id="text">
    <div class="col-sm-4">
      Password:
    </div>
    <div class="col-sm-5">
      <label *ngIf="!editPassword">********</label>
      <input  *ngIf="editPassword" type="password" placeholder="Enter new password" class="form-control">
    </div>
    <div class="col-sm-3">
      <i class="glyphicon glyphicon-edit grow" aria-hidden="true" *ngIf="!editPassword" (click)="updatePassword()"></i>
      <i class="glyphicon glyphicon-remove-sign" aria-hidden="true" *ngIf="editPassword" (click)="updatePassword()"></i>
    </div>
  </div>
  <div class="row" id="text" *ngIf="editPassword">
    <div class="col-sm-4">
      Confirm Password:
    </div>
    <div class="col-sm-5">
      <input type="password" placeholder="Repeat new password" class="form-control">
    </div>
  </div>
  <div class="row" id="text">
    <div class="col-sm-4">
      E-mail:
    </div>
    <div class="col-sm-5">
      <label *ngIf="!editEmail">userEmail@gmail.com</label>
      <input  *ngIf="editEmail" type="email" placeholder="Enter new email" class="form-control">
    </div>
    <div class="col-sm-3">
      <i class="glyphicon glyphicon-edit grow" aria-hidden="true" *ngIf="!editEmail" (click)="updateEmail()"></i>
      <i class="glyphicon glyphicon-remove-sign" aria-hidden="true" *ngIf="editEmail" (click)="updateEmail()"></i>
    </div>
  </div>
  <br>
  <button class="btn btn-primary" *ngIf="editPassword || editEmail">Confirm Changes</button>
</div>

<br>