#headText {
   margin: 0 auto;
   text-align: left;
}

#text {
   margin: 0 auto;
   text-align: left;
   font-size: 14px;
   padding-bottom: 20px
}

#body_div {
   background-color: rgba(255, 255, 255, 0.8);
   padding-top: 5vh;
   padding-bottom: 5vh;  
   padding-right: 5vw;
   padding-left: 5vw; 
   width: 50vw;
   min-width: 300px;   
   margin: 0 auto;
   border-radius: 5vh;
}

.grow:hover {
   transform: scale(1.3);
}
