:host-context(#mainSearch) input {
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 40vw;
  height: 8vh;
  min-width: 175px;
  border-width: 2px;
  border-color: #bed600;
  border-radius: 20px;
  font-size: calc(10px + 1vw);
}

:host-context(.searchComponent) input {
  border: solid 1px #ccc;
  border-radius: 10px;
}