h3, form {
    margin: 0;
    padding: 0;
 }
 
 button {
    width: 100%;
 }
 
 #loginHead{
    margin: 0 auto;
    text-align: left;
    width: 50%;
 }
 #loginForm{
    margin: 0 auto;
    width: 50%;
 }