/* You can add global styles to this file, and also import other style files */
.navbar {
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
   font-size: 18px;
   text-align: center;
   background-color: #000037;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}