h3, form {
   margin: 0;
   padding: 0;
}

#journeyHead{
   margin: 0 auto;
   text-align: left;
   width: 50%;
}

#stops-form{
   margin: 0 auto;
   text-align: left;
   width: 50%;
}

#stop-label{
   margin: 0 auto;
   text-align: left;
   width: 50%;
}

#date-label{
   margin: 0 auto;
   text-align: left;
   width: 50%;
}

#stop-input{
   height: 30px;
   margin-left: 5%;
   padding-left: 30px;
}

#customiseStopsBtn{
   text-align:center;
}

.button_primary {
   padding: 10px 54px;
   text-align: center;
   text-transform: uppercase;
   font: bold 14px/normal 'Titillium Web','Trebuchet MS',Tahoma,sans-serif;
   color: #3EB000;
   background: #FFFFFF;
   border-color: #3EB000;
   cursor: pointer;
   -webkit-transition: background .1s ease-out,border-color .1s ease-out;
   transition: background .1s ease-out,border-color .1s ease-out;
   height: 50px;
   border: 1;
   border-style: solid;
   box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
   display: inline-block;
   letter-spacing: .15em;
   font-size: 15px;
}
.button_primary:hover { 
   background: #3EB000; 
   color: white;
}
body{
   background-color: rgba(255, 255, 255, 0.75) !important;   
}