h3, form {
   margin: 0;
   padding: 0;
}

#journeyHead{
   margin: 0 auto;
   text-align: left;
}

#stops-form{
   margin: 0 auto;
   text-align: left;
}

#stop-label{
   margin: 0 auto;
   text-align: left;
}

#date-label{
   margin: 0 auto;
   text-align: left;
}

.button_primary {
   padding-top: 2vh;
   padding-bottom: 2vh;
   text-align: center;
   text-transform: uppercase;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;   
   color: #3EB000;
   background: #FFFFFF;
   border-color: #3EB000;
   cursor: pointer;
   -webkit-transition: background .1s ease-out,border-color .1s ease-out;
   transition: background .1s ease-out,border-color .1s ease-out;
   border: 1;
   border-style: solid;
   box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
   display: inline-block;
   letter-spacing: .15em;
   font-size:calc(10px + 0.5vw);        
   width: 20vw;
   min-width: 200px; 
}
.button_primary:hover { 
   background: #3EB000; 
   color: white;
}

#body_div{
   background-color: rgba(255, 255, 255, 0.8);
   padding-top: 5vh;
   padding-bottom: 5vh;  
   padding-right: 5vw;
   padding-left: 5vw; 
   width: 50vw;
   min-width: 300px;   
   margin: 0 auto;
   border-radius: 5vh;
}

#infoIcon{
   font-size:calc(15px + 1vw);
   color: #337ab7;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color:#FFFFFF;
   text-shadow: 0 2px 4px rgba(145, 92, 182, .4);
   cursor: pointer;   
}

#btnFormat{
   border-width: 1px;
   border-color:#FFFFFF;
   box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
   cursor: pointer; cursor: hand; outline: none;
   min-width: 3em; 
}

#saveJourneyBtn{
    color: #FF7B00;
    border-width: 2px;
    border-color:#FF7B00;
    box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
    cursor: pointer; cursor: hand; outline: none;
    min-width: 3em;
    
}

#saveJourneyBtn:hover{
    background: #FF7B00; 
    color: white;
}
