<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWhdBjPKjj_DNstBfp3i65VTtCeEzucyc&libraries=places"></script>

<stop-info #stop>
  <div class="stop-info-header">
    <button type="button" id="stopModalCloseButton" class="btn btn-danger pull-right" (click)="stop.hide()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <div class="stop-info-body">
  </div>
  <div class="stop-info-footer">
  </div>
</stop-info>

<br>

<div id="body_div">
  <div id="journeyHead">
    <h1 *ngIf="!isModifying">New Journey</h1>
    <h1 *ngIf="isModifying">Modify Journey</h1>
  </div>

  <br>

  <div [hidden]="!invalidForm"><br>
    <div class="alert alert-danger">Invalid Entries</div>
  </div>
  <div *ngIf="!isLoggedIn" class="alert alert-warning alert-dismissible" role="alert">
    You cannot save this journey without being logged in.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <form [formGroup]="myJourneys">
    <div class="row" style="padding-left:2vw; padding-right:2vw;">
      <div class="col-sm-10">
        <label id="stop-label">Journey Name</label>
        <input type="text" placeholder="Name your Journey" class="form-control" formControlName="journeyName">
      </div>
    </div>
    <hr>

    <div style="padding-left:2vw; padding-right:2vw;" class="card-start">
      <br>
      <div class="row">
        <div class="col-sm-10">
          <label id="stop-label">Starting Location</label>
          <input type="search" placeholder="Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control"
            #search formControlName="initialLocation" id="initialLocation">
        </div>
        <div class="col-sm-1">
          <br>
          <!-- Pass parameter of stop to show(), modify show to set currStop to parameter -->
          <a (click)="stop.show(myJourneys.controls['initialLocation'].value)"><i class="glyphicon glyphicon-info-sign grow icon-blue" aria-hidden="true" id="infoIcon"></i></a>
        </div>
      </div>

      <br>
      
      <div class="row">
        <div class="col-sm-5">
          <label id="date-label">Journey Start Date</label>
          <input type="date" class="form-control" formControlName="initialDeparture">
        </div>
        <div class="col-sm-5">
          <label id="date-label">Journey End Date</label>
          <input type="date" class="form-control" formControlName="initialArrival">
        </div>
      </div>
      <br>
    </div>

    <div id="circleBackground">
      <span><i class="fa fa-plane" aria-hidden="true"></i></span>
    </div>

    <fieldset formArrayName="destinations">
      <div class="form-group" *ngFor="let item of myJourneys.get('destinations').controls; let i=index" [formGroup]="item">
        <div style="padding-left:2vw; padding-right:2vw;" class="card card-1">
          <br>
          <div class="row">
            <div class="col-sm-10">
              <label id="stop-label" [attr.for]="'location'+i">Next Location</label>
              <planner-search class="searchComponent" id="stopSearch"></planner-search>
            </div>
            <div class="col-sm-1">
              <br>
              <a (click)="stop.show(getStop(i))"><i class="glyphicon glyphicon-info-sign grow icon-blue" aria-hidden="true" id="infoIcon"></i></a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-5 ui-state-hover">
              <label id="date-label" [attr.for]="'departure'+i">Arrival Date</label>
              <input type="date" class="form-control" [attr.id]="'departure'+i" formControlName="arrival">
            </div>
            <div class="col-sm-5">
              <label id="date-label" [attr.for]="'arrival'+i">Departure Date</label>
              <input type="date" class="form-control" [attr.id]="'arrival'+i" formControlName="departure">
            </div>
            <div class="col-sm-1">
              <br>
              <a *ngIf="myJourneys.get('destinations').length != 1" (click)="myJourneys.get('destinations').removeAt(i)">
                <i class="glyphicon glyphicon-minus-sign grow icon-red" aria-hidden="true" id="minusIcon"></i></a>
            </div>
          </div>
          <br>
        </div>
        <div id="circleBackground" *ngIf="myJourneys.get('destinations').length-1 !== i">
          <span><i class="fa fa-plane" aria-hidden="true"></i></span>
        </div>    
      </div>
    </fieldset>
    <br>
    <button type="button" class="button-rect button-blue" (click)="myJourneys.get('destinations').push(buildItem(''))"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Stop</button>

    <br>
    <br>
    <hr>
    <br>

    <div class="row">
      <div class="form-group" align="center">
        <div class="col-sm-12">
          <button *ngIf="isLoggedIn" id="saveJourneyBtn" type="button" class="button-rect button-green" (click)="submit()">
            Save Journey&nbsp;&nbsp;<i class="fa fa-caret-right"></i>
          </button>
        </div>
        <div *ngIf="!isLoggedIn">
          <div class="form-group col-sm-6">
            <button class="button-rect button-orange" routerLink="/signup">
              Sign Up&nbsp;&nbsp;<i class="fa fa-caret-right"></i>
            </button>
          </div>
          <div class="form-group col-sm-6">
            <button class="button-rect button-green" routerLink="/login">
              Log In&nbsp;&nbsp;<i class="fa fa-caret-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<br>
<br>