<stop-info #stop>
  <div class="stop-info-header">
    <button type="button" id="stopModalCloseButton" class="btn btn-danger pull-right" (click)="stop.hide()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <div class="stop-info-body">
  </div>
  <div class="stop-info-footer">
  </div>
</stop-info>

<app-confirm #confirm>
  <div class="app-confirm-header">
    <button type="button" class="btn btn-danger pull-right" (click)="confirm.hide()"><i class="fa fa-times" aria-hidden="true"></i></button>
    Confirm
  </div>
  <div class="app-confirm-body">
    <p>Are you sure you want to remove <strong>{{ getDeleteStopName() }}</strong> from your journey?</p>
    <p>Remember to edit the dates for any connecting stops.</p>
    <br>
  </div>
  <div class="app-confirm-footer">
    <button type="button" class="button-rect button-rect-confirm button-orange" id="modal-button" (click)="confirm.hide()">Cancel</button>
    <button type="button" class="button-rect button-rect-confirm button-red" id="modal-button" (click)="deleteStop()" (click)="confirm.hide()">Confirm</button>
  </div>
</app-confirm>

<br>

<div class="well well-content">
  <div id="journeyHead">
    <h1 *ngIf="isModifying === -1">New Journey</h1>
    <h1 *ngIf="isModifying !== -1">Modify Journey</h1>
  </div>
  <br>
  <div [hidden]="isModifying == -1" class="alert alert-warning alert-dismissible" role="alert">
    <strong>Warning:</strong> All notes will be deleted if any changes are made.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="alertDismissBtn"><span aria-hidden="true">&times;</span></button>
  </div>
  <br>

  <div *ngIf="invalidForm" [innerHTML]="invalidInfo" class="alert alert-danger" role="alert"></div>
  <br *ngIf="invalidForm">

  <div *ngIf="!isLoggedIn" class="alert alert-warning alert-dismissible" role="alert">
    You cannot save this journey without being logged in.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="alertDismissBtn"><span aria-hidden="true">&times;</span></button>
  </div>
  <form [formGroup]="myJourney">
    <div class="row" style="padding-left:2vw; padding-right:2vw;">
      <div class="col-sm-10">
        <label for="journeyName">Journey Name</label>
        <input type="text" placeholder="Name your Journey" class="form-control" id="journeyName" formControlName="journeyName">
      </div>
    </div>
    <hr>

    <div style="padding-left:2vw; padding-right:2vw;" class="card card-start">
      <br>
      <div class="row">
        <div class="col-sm-10">
          <label for="initialLocation">Starting Location</label>
          <input type="search" placeholder="Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control"
            #search formControlName="initialLocation" id="initialLocation">
        </div>
        <div class="col-sm-1">
          <br>
          <!-- Pass parameter of stop to show(), modify show to set currStop to parameter -->
          <a (click)="stop.show(myJourney.controls['initialLocation'].value)"><i class="glyphicon glyphicon-info-sign grow icon-blue" aria-hidden="true" id="infoIcon"></i></a>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-5">
          <label for="initialDeparture">Journey Start Date</label>
          <p-calendar id="initialDeparture" formControlName="initialDeparture" selectOtherMonths="true" monthNavigator="true" dateFormat="dd/mm/yy" showButtonBar="true" showIcon="true" [(ngModel)]="startDate" (onClose)="setJourneyCalDates()" (onInput)="setJourneyCalDates()">
          </p-calendar>
        </div>
        <div class="col-sm-5">
          <label for="initialArrival">Journey End Date</label>
          <p-calendar id="initialArrival" formControlName="initialArrival" selectOtherMonths="true" monthNavigator="true" dateFormat="dd/mm/yy" showButtonBar="true" showIcon="true" [(ngModel)]="endDate" (onClose)="setJourneyCalDates()" (onInput)="setJourneyCalDates()">
          </p-calendar>
        </div>
      </div>
      <br>
    </div>

    <div id="circleBackground">
      <span><i class="fa fa-plane" aria-hidden="true"></i></span>
    </div>

    <fieldset formArrayName="destinations">
      <div class="form-group" *ngFor="let item of myJourney.get('destinations')['controls']; let i=index" [formGroup]="item">
        <div style="padding-left:2vw; padding-right:2vw;" class="card" id="stopCard">
          <br>
          <div class="row">
            <div class="col-sm-10">
              <label [attr.for]="'location'+i">Next Location</label>
              <planner-search class="searchComponent" [attr.id]="'stopSearch' + i"></planner-search>
            </div>
            <div class="col-sm-1">
              <br>
              <a (click)="stop.show(getStop(i))"><i class="glyphicon glyphicon-info-sign grow icon-blue" aria-hidden="true" id="infoIcon"></i></a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-5 ui-state-hover">
              <label for="arrival" [attr.for]="'departure'+i">From</label>
              <p-calendar id="arrival" [attr.id]="'departure'+i" formControlName="arrival" selectOtherMonths="true" monthNavigator="true"
                          dateFormat="dd/mm/yy" showButtonBar="true" showIcon="true" [minDate]="stopFromStart" [maxDate]="endDate" (onClose)="setFromEnd()" (onInput)="setFromEnd()">
              </p-calendar>
            </div>
            <div class="col-sm-5">
              <label for="departure" [attr.for]="'arrival'+i">To</label>
              <p-calendar id="departure" [attr.id]="'arrival'+i" formControlName="departure" selectOtherMonths="true" monthNavigator="true"
                          dateFormat="dd/mm/yy" showButtonBar="true" showIcon="true" [minDate]="stopFromEnd" [maxDate]="endDate">
              </p-calendar>
            </div>
            <div class="col-sm-1">
              <br>
              <a *ngIf="myJourney.get('destinations').length != 1" (click)="deleteIndex = i" (click)="getDeleteStopLength() > 0 ? confirm.show() : deleteStop()">
                <i class="glyphicon glyphicon-minus-sign grow icon-red" aria-hidden="true" id="minusIcon"></i></a>
            </div>
          </div>
          <br>
        </div>
        <div id="circleBackground" *ngIf="myJourney.get('destinations').length-1 !== i">
          <span><i class="fa fa-plane" aria-hidden="true"></i></span>
        </div>
      </div>
    </fieldset>
    <br>
    <!-- <button type="button" class="button-rect button-blue" >Add Stop</button> -->
    <button type="button" class="button-rect button-blue" (click)="addStop(myJourney)"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Stop</button>
    <br>
    <br>
    <hr>
    <br>

    <div class="row">
      <div class="form-group" align="center">
        <div class="col-sm-6">
           <button *ngIf="isLoggedIn" id="saveJourneyBtn" type="button" class="button-rect button-orange" (click)="cancel()">
            Cancel&nbsp;&nbsp;<i class="fa fa-caret-right"></i>
          </button>
        </div>
        <div class="col-sm-6">
          <button *ngIf="isLoggedIn" id="saveJourneyBtn" type="button" class="button-rect button-green" (click)="submit()">
            Save Journey&nbsp;&nbsp;<i class="fa fa-caret-right"></i>
          </button>
        </div>
        <div *ngIf="!isLoggedIn">
          <div class="form-group col-sm-6">
            <button class="button-rect button-orange" routerLink="/signup">
              Sign Up&nbsp;&nbsp;<i class="fa fa-caret-right"></i>
            </button>
          </div>
          <div class="form-group col-sm-6">
            <button class="button-rect button-green" routerLink="/login">
              Log In&nbsp;&nbsp;<i class="fa fa-caret-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- <h6 class="mt-3">FormGroup Model (<code>myJourney.value</code>)</h6>
  <div><pre><code>{{ myJourney?.value | json }}</code></pre></div> -->
</div>
<br>