<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWhdBjPKjj_DNstBfp3i65VTtCeEzucyc&libraries=places"></script>

<app-stop #stop>
  <div class="app-stop-header">
    <button type="button" class="btn btn-danger pull-right" (click)="stop.hide()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <div class="app-stop-body">
  </div>
  <div class="app-stop-footer">
  </div>
</app-stop>
<br>
<div id="body_div">
  <div id="journeyHead">
    <h2>New Journey</h2>
  </div>
  <form [formGroup]="myJourneys" (ngSubmit)="submit()">
    <hr>
    <div class="row">
      <div class="col-sm-10">
        <label id="stop-label">Starting Location</label>
        <input type="search" placeholder="Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search formControlName="initialLocation" id="initialLocation">
      </div>
      <div class="col-sm-1">
        <br>
        <!-- Pass parameter of stop to show(), modify show to set currStop to parameter -->
        <a (click)="stop.show(myJourneys.controls['initialLocation'].value)"><i class="glyphicon glyphicon-info-sign grow" aria-hidden="true" id="infoIcon"></i></a>            
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-5">
        <label id="date-label">Departure Date - Time</label>
        <input type="datetime-local" class="form-control" formControlName="initialDeparture">
      </div>
      <div class="col-sm-5">
        <label id="date-label">Arrival Date - Time</label>
        <input type="datetime-local" class="form-control" formControlName="initialArrival">
      </div>
    </div>
    <hr>
    <fieldset formArrayName="destinations">
      <div class="form-group"
            *ngFor="let item of myJourneys.get('destinations').controls; let i=index"
            [formGroup]="item">
        <div class="row">
          <div class="col-sm-10">
            <label id="stop-label" [attr.for]="'location'+i">Next Location</label>
            <planner-search></planner-search>
          </div>
          <div class="col-sm-1">
            <br>
            <a (click)="stop.show()"><i class="glyphicon glyphicon-info-sign grow" aria-hidden="true" id="infoIcon"></i></a>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-5">
            <label id="date-label" [attr.for]="'departure'+i">Departure Date - Time</label>
            <input type="datetime-local" class="form-control"
              [attr.id]="'departure'+i" formControlName="departure">
          </div>
          <div class="col-sm-5">
            <label id="date-label" [attr.for]="'arrival'+i">Arrival Date - Time</label>
            <input type="datetime-local" class="form-control"
              [attr.id]="'arrival'+i" formControlName="arrival">
          </div>
          <div class="col-sm-1">
            <br>
            <a *ngIf="myJourneys.get('destinations').length != 1" (click)="myJourneys.get('destinations').removeAt(i)">
              <i class="glyphicon glyphicon-minus-sign grow" aria-hidden="true" id="minusIcon"></i></a>
          </div>
        </div>
        <br>
      </div>
    </fieldset>
    <button type="button" class="button-rect button-blue"
            (click)="myJourneys.get('destinations').push(buildItem(''))"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Stop</button>
    <br>
    <br>
    <hr>
    <div class="row">
      <div class="form-group col-sm-6">
        <button type="submit" class="button-rect button-green" value="Submit" [disabled]="myJourneys?.invalid"
                routerLink="/itinerary">Customise Itinerary&nbsp;&nbsp;<i class="fa fa-caret-right"></i>
        </button>
      </div>
      <div class="form-group col-sm-6">
        <button type="submit" class="button-rect button-orange" value="Submit"
                routerLink="/my-journeys">Save Journey&nbsp;&nbsp;<i class="fa fa-caret-right"></i>
        </button>
      </div>
    </div>
  </form>
  <!-- <h6 class="mt-3">FormGroup Model (<code>myJourneys.value</code>)</h6>
  <div><pre><code>{{ myJourneys?.value | json }}</code></pre></div> -->
  
</div>
<br><br>