.well {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2.5vh;
  text-align: left;
}

.stopButton {
  border: 2.4px;
  border-right-width: 1.2px;
  border-color: #3EB000;
  border-style: solid;
  color: #000037;
  height: 7vh;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  width: 74%;
  box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
}

.itineraryButton {
  border: 2.4px;
  border-color: #3EB000;
  border-style: solid;
  color: #000037;
  height: 7vh;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  width: 24%;
  box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
}

button.btn-default:active,
button.btn-default:focus,
button.btn-default:target,
button.btn-default:active:focus {
  box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
}

.btn-group {
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
}

#subHeading {
  font-size: 20px;
  font-weight: bold;
}

.button-rect {
  min-width: 100px;
  width: 190px;
  letter-spacing: .08em;
}

#stopModalCloseButton {
  padding: 6px 11px;
  margin-right: -8px;
}

#dropdownItem:hover {
  background-color: rgba(67, 176, 0, 0.28);
}

#currentJourney {
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 0px;
}

#currentJourneyHeader {
  background-color: transparent;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  margin-bottom: -10px;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#singleJourneyHeader {
  background-color: transparent;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  margin-bottom: -10px;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: text;
}

#currentJourneyHeader:hover,
#currentJourneyHeader:focus {
  text-shadow: 0 2px 4px rgba(145, 92, 182, .4);
}

#journeyOverview {
  font-size: 22px;
  font-weight: bolder;
  font-style: italic;
  cursor: pointer;
}


#journeyOverview:hover,
#journeyOverview:focus {
  text-shadow: 0 2px 4px rgba(145, 92, 182, .4);
}


button.truncate {
  display: flex;
}

button.truncate span:not(.caret) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button.truncate .caret {
  margin: auto;
}

agm-map {
  width: 100%;
  height: 450px;
}

.dropdown-menu {
  width: 10%;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
}

.dropdown {
  margin-top: -40px;
}

h4 {
  -webkit-text-stroke-color: #424242;
  -webkit-text-stroke-width: 0.05vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

textarea {
  resize: vertical;
}

#notesDeleteBtn {
  float: left;
}

#notesCancelBtn {
  margin-right: 10px;
}

#aboutWell {
  padding-bottom: 30px;
}

#findOutMoreBtn {
  width: 140px;
  letter-spacing: initial;
  font-size: 16px;
  margin-top: 6px;
  float: left !important;
}

.textarea {
  overflow-y: auto;
  height: 200px;
}

.notesArea {
  overflow-y: auto;
}

#notesText {
  white-space: pre-wrap;
  height: 200px;
  margin-bottom: 34px;
}

#notesTextEmpty {
  font-style: italic;
  height: 200px;
  margin-bottom: 34px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal {
  overflow-y: auto;
}

.modal-open {
  overflow: auto;
}

.modal-open[style] {
  padding-right: 0px !important;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 10px;
}

.modal-header {
  font-size: calc(14px + 0.5vw);
  font-weight: bold;
  margin-left: 5px;
}

.modal-body {
  text-align: center;
  margin-top: 15px;
  margin-bottom: -15px;
  font-size: initial;
}

#modal-button {
  width: 150px;
}

#modal-button-left {
  width: 150px;
  margin-right: 10px;
}

#timeline-buttons {
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 31px;
  white-space: nowrap;
}

.outer-timeline-container {
  overflow-x: auto;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background-color: white;
  border: solid #f7544a;
  box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
  margin-bottom: 40px;
  float: none;
  display: inline-block;
}

.btn-circle:hover {
  background-color: #f7544a;
  border: solid #f7544a;
  color: white;
}

.activeBtn {
  background-color: #f7544a;
  border: solid white;
  color: white;
}

.btn-circle-start:hover {
  background-color: #bed600;
  border: solid #bed600;
  color: white
}

.btn-circle-start {
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background-color: white;
  border: solid #bed600;
  box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
  margin-bottom: 40px;
  cursor: pointer;
  float: none;
  display: inline-block;
}

.line {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 45px;
  height: 2px;
  width: 100%;
  background: #cccccc;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.stop-label {
  position: absolute;
  text-shadow: 0 2px 4px rgba(145, 92, 182, .3);
  color: #424242;
  cursor: pointer;
  padding-top: 38px;
  margin-left: -58px;
  /* Truncate long text */
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.start-label {
  position: absolute;
  text-shadow: 0 2px 4px rgba(145, 92, 182, .3);
  color: #424242;
  padding-top: 38px;
  margin-left: -58px;
  /* truncate long text */
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#weatherHolder {
  height: 162px;
  margin-top: 35px;
  margin-bottom: 5px;
}

/* current weather - position within well */
:host ::ng-deep .current {
  margin-left: -25px;
}

/* weather icon for current weather */
:host ::ng-deep .current > weather-icon.big {
  font-size: 3.5em;
}

/* temperature for current weather */
:host ::ng-deep .current > weather-current-temperature.big {
  font-size: 2em;
}

/* forecast div height */
:host ::ng-deep .info.wide {
  height: fit-content; /* prevent scrollbars */
  margin-top: -42px;
}

/* forecast icons and text */
:host ::ng-deep .forecast > weather-forecast > weather-forecast-simple-grid {
  font-size: initial;
}

/* hide refresh button */
:host ::ng-deep weather-widget > weather-actions {
  display: none;
}

/* progress bar */

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #26a69a;
  transition: width .3s linear;
}

.progress .indeterminate {
  background-color: #26a69a;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

#progressBar {
  padding: 50px;
  transform: translateY(16vh);
}

#progressBar > h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

tooltip-content {
  margin-top: 100px;
}

/* mobile-specific styles */

@media (max-width: 767px) {
  #notesBtns {
    width: 100px;
  }

  .button-rect {
    margin-top: 8px;
  }

  .line {
    top: 17px;
  }

  .stop-label,
  .start-label {
    font-size: 12px;
  }

  #progressBar {
    padding: 50px;
    transform: translateY(6vh);
  }
}

@media (max-width: 1000px) {
  #subHeading {
    font-size: 12px;
  }
}
