.well {
   background-color: rgba(255, 255, 255, 0.75);
   border-radius: 2.5vh;
   text-align: left;
}

.stopButton {
   border: 0.2vw;
   border-color: #bed600;;
   border-style:solid; 
   border-radius: 2vh;
   color: #000037;   
   height: 7vh;
   margin: 2.5px;
   width: 100%;
   box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
}

.stopButton:hover { 
    background: #bed600; 
    border-color: white;
    color: #000086;    
}

.stopButton:active { 
    background: #bed600; 
    border-color: white;
    color: #000086;    
}

img {
   display: block;
   margin: 0 auto;
}

#subHeading {
   font-size: 16px; 
   font-weight: bold;
}

.button-rect {
   min-width: 100px;
   width: 190px;
   letter-spacing: .08em;
}
