<app-stop #stop>
  <div class="app-stop-header">
    <button type="button" class="btn btn-danger pull-right" (click)="stop.hide()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <div class="app-stop-body">
  </div>
  <div class="app-stop-footer">
  </div>
</app-stop>
<app-itinerary #itinerary>
  <div class="app-itinerary-header">
    <button type="button" class="btn btn-danger pull-right" (click)="itinerary.hide()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <div class="app-itinerary-body">
  </div>
  <div class="app-itinerary-footer">
  </div>
</app-itinerary>
<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-3">
      <div class="well">
        <p id="subHeading">Current Journey</p>
        <!-- TODO Add css to pointer -->
        <div class="dropdown" dropdown width="100%">
          <h1 dropdown-open style="font-weight: bolder; font-style: italic;" align="center">{{allJourneys[activeJourneyIndex].journey_name}}&nbsp;<i class="fa fa-caret-down" *ngIf="getJourneyLength() !== 1"></i></h1>
          <ul class="dropdown-menu" style="width:100%; text-align:center;" *ngIf="getJourneyLength() !== 1">
            <li *ngFor="let journey of allJourneys" (click)="setActiveJourney(journey.journey_name)">
              <h4 style="-webkit-text-stroke-color: #424242; -webkit-text-stroke-width: 0.05vh; padding-top: 1vh; padding-bottom:1vh;">{{journey.journey_name}}</h4>
            </li>
          </ul>
        </div>
      </div>
      <div class="well " align="center">
        <p id="subHeading">Stops</p>
        <div class="row" *ngFor="let stop of stops; let i=index;" align="center" style="padding-left:0.5vw;">
          <div class="btn-group" align="center">
            <button type="button" class="btn btn-default btn-md stopButton" *ngIf="i!==activeStopIndex" (click)="setActiveStop(stop.name)" align="center">{{regStop(stop.name)}}</button>
            <button type="button" class="btn btn-default btn-md active stopButton" *ngIf="i===activeStopIndex" align="center">{{regStop(stop.name)}}</button>
            <button type="button" class="btn btn-default btn-md itineraryButton" (click)="itinerary.show(getCurrStop())" align="center"><i class="fa fa-calendar" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="well">
        <p id="subHeading">Upcoming Flights</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo neque, rutrum vitae sem eget, feugiat molestie
          nulla. Ut sagittis lobortis lorem at volutpat</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo neque, rutrum vitae sem eget, feugiat molestie
          nulla. Ut sagittis lobortis lorem at volutpat</p>
      </div>
      <div class="well">
        <p id="subHeading">Calendar</p>
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=irjrjrntp2vjb11uoduhgl0ubg%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=Australia%2FSydney"
          style="border:solid 1px #777" width="100%" height="250" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="col-sm-12" *ngIf="activeStopIndex!==-1">
        <div class="well" id="map">
          <iframe width="100%" height="450" frameborder="0" style="border:0" [src]='sanitizer.bypassSecurityTrustResourceUrl(mapUrl)'
            allowfullscreen></iframe>
        </div>
        <br>
        <div class="well">
          <div id="weather-forecast" *ngFor="let i of stops">
            <iframe id="weatherapp" *ngIf="i==stops[activeStopIndex]" width="100%" height="245" frameborder="0" style="border:0" [src]='sanitizer.bypassSecurityTrustResourceUrl("https://forecast.io/embed/#lat=" + i.lat + "&lon=" + i.lng + "&name=" + i.name + "&units=uk&color=#000037")'
              allowfullscreen></iframe>
          </div>
          <div class="well">
            <p id="subHeading">About: {{stops[activeStopIndex].name}}</p>
            <p>{{aboutText}}</p>
            <br>
            <button type="button" class="button-rect button-blue pull-right" (click)="stop.show(getCurrStop())">Find Out More</button>
            <br><br>
          </div>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="activeStopIndex===-1">
        <div class="well" id="map">
          <iframe width="100%" height="450" frameborder="0" style="border:0" [src]='sanitizer.bypassSecurityTrustResourceUrl(mapUrl)'
            allowfullscreen></iframe>
        </div>
        <br>
        <div class="well">
          <div class="well">
            <p id="subHeading">{{allJourneys[activeJourneyIndex].journey_name}} Overview:</p>
            <div>
              <h1>Here goes the time line!</h1>
            </div>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
