.well {
   background-color: rgba(255, 255, 255, 0.75);
   border-radius: 2.5vh;
   text-align: left;
}

#stopButton {
   border: 0.1vw;
   border-color: #000000;
   border-style:solid; 
   margin: 0.5px;
   width: 100%;
}

img {
   display: block;
   margin: 0 auto;
}

#map {
   /* height: 600px;
   width: 800px; */
}

#subHeading {
   font-size: 16px; 
   font-weight: bold;
}

#btnFormat{
   border-width: 1px;
   border-color:#FFFFFF;
   box-shadow: 0 2px 4px rgba(145, 92, 182, .4);
   cursor: pointer; cursor: hand; outline: none;
   min-width: 2em; 
}
